<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="ZX.Class.Log" type="ZX.Class.Log.Config.ZX.Class.LogConfigurationSectionHandler,ZX.Class.Log" />
  </configSections>
  <ZX.Class.Log>

    <!--HRAdoNet:将日志写入数据库表-->
    <appender name="HRAdoNet" type="ZX.Class.Log.Appender.ADONetAppender">
      <param name="BufferSize" value="50" />
      <!--写入数据库的分段大小-->
      <param name="ConnectionType" value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <param name="ConnectionString" value="Server=IBMkingry\Sql2000;Database=ZXSoft_new;User ID=sa;Password=sa;Trusted_Connection=False" />
      <param name="CommandType" value="StoredProcedure" />
      <param name="CommandText" value="sp_HR_Log" />
      <!--spLog_Create：存储过程名称-->
      <param name="Parameter">
        <param name="ParameterName" value="@log_date" />
        <param name="DbType" value="DateTime" />
        <param name="Layout" type="ZX.Class.Log.Layout.RawTimeStampLayout" />
      </param>
      <param name="Parameter">
        <param name="ParameterName" value="@thread" />
        <param name="DbType" value="String" />
        <param name="Size" value="255" />
        <param name="Layout" type="ZX.Class.Log.Layout.PatternLayout">
          <param name="ConversionPattern" value="%t" />
        </param>
      </param>
      <param name="Parameter">
        <param name="ParameterName" value="@log_level" />
        <param name="DbType" value="String" />
        <param name="Size" value="50" />
        <param name="Layout" type="ZX.Class.Log.Layout.PatternLayout">
          <param name="ConversionPattern" value="%p" />
        </param>
      </param>
      <param name="Parameter">
        <param name="ParameterName" value="@logger" />
        <param name="DbType" value="String" />
        <param name="Size" value="255" />
        <param name="Layout" type="ZX.Class.Log.Layout.PatternLayout">
          <param name="ConversionPattern" value="%c" />
        </param>
      </param>
      <param name="Parameter">
        <param name="ParameterName" value="@message" />
        <param name="DbType" value="String" />
        <param name="Size" value="4000" />
        <param name="Layout" type="ZX.Class.Log.Layout.PatternLayout">
          <param name="ConversionPattern" value="%m" />
        </param>
      </param>
      <param name="Parameter">
        <param name="ParameterName" value="@exception" />
        <param name="DbType" value="String" />
        <param name="Size" value="2000" />
        <param name="Layout" type="ZX.Class.Log.Layout.ExceptionLayout" />
      </param>
    </appender>


    <!--HRSMTPAppender:将日志发送邮件-->
    <appender name="HRSMTPAppender" type="ZX.Class.Log.Appender.SMTPAppender">
      <authentication value="Basic" />
      <To value="kingrycn@qq.com"/>
      <From value="kingrycn@163.com" />
      <Subject value="ERP系统：日志" />
      <SmtpHost value="smtp.163.com" />
      <Username value="kingrycn" />
      <Password value="7512036" />
      <param name="BufferSize" value="10" />
      <param name="Lossy" value="true" />
      <evaluator type="ZX.Class.Log.Core.LevelEvaluator">
        <param name="Threshold" value="Fatal" />
      </evaluator>

      <layout type="ZX.Class.Log.Layout.PatternLayout">
        <param name="ConversionPattern"  value="%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline" />
      </layout>
    </appender>


    <!--LocalFileAppender:将日志写入本地文件-->
    <appender name="LocalFileAppender" type="ZX.Class.Log.Appender.RollingFileAppender">
      <param name="File" value="System\SystemLog.Log" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="10" />
      <param name="MaximumFileSize" value="5MB" />
      <param name="RollingStyle" value="Size" />
      <param name="StaticLogFileName" value="true" />
      <layout type="ZX.Class.Log.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
      </layout>
    </appender>



    <root>
      <level value="ALL" />
      <appender-ref ref="HRAdoNet" />
      <appender-ref ref="HRSMTPAppender" />
      <appender-ref ref="LocalFileAppender" />
    </root>

  </ZX.Class.Log>
</configuration>